<div class="container-fluid bg-light">
        <br>
            <form  name="resetPassForm" #resetPassForm="ngForm">
                <div class="form-group">
                    <label for="field_password">Password</label>
                    <input type="password" class="form-control" placeholder="Password"
                    name = "field_password" [(ngModel)] = "pass"
                    required minlength = "8" maxlength="50">

                    <div [hidden]="!(resetPassForm.controls.field_password?.dirty && resetPassForm.controls.field_password?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!resetPassForm.controls.field_password?.errors?.maxlength">
                            field ini tidak boleh lebih dari 50 karakter.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!resetPassForm.controls.field_password?.errors?.minlength">
                            Harus diisi 8-50 karakter.
                        </small>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_konfirmasiPassword">Konfirmasi Password</label>
                    <input type="password" class="form-control" placeholder="Konfirmasi Password"
                    name = "field_konfirmasiPassword" [(ngModel)] = "konfirmasiPass"
                    required minlength = "8" maxlength="50">

                    <div [hidden]="!(resetPassForm.controls.field_konfirmasiPassword?.dirty && resetPassForm.controls.field_konfirmasiPassword?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!resetPassForm.controls.field_konfirmasiPassword?.errors?.maxlength">
                            field ini tidak boleh lebih dari 50 karakter.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!resetPassForm.controls.field_konfirmasiPassword?.errors?.minlength">
                            Harus diisi 8-50 karakter.
                        </small>
                        
                    </div>
                </div>

                <br>
                <button class="btn btn-danger" 
                title="Reset Password" (click)="resetPassword()"
                [disabled]="resetPassForm.form.invalid || isSaving">Reset Password</button>
    </form>

</div>
