<!-- navbar -->
<router-outlet name="navbar"></router-outlet>

<!--leftsidebar Modal -->
<router-outlet name="leftsidebar"></router-outlet>

<div class="main">
  <div class="main-content">
    <div class="container-fluid">
      <div class ="card">
          <div class="card-body">
        <p>=====================================================</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        <p>test test testtesttesttesttesttesttesttesttest</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- footer -->
<router-outlet name="footer"></router-outlet>