.main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0;
    position: relative;
    background-color: #f5f5fa;
}     

.main-content{
    padding: 90px 10px 10px 10px;
}   

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.btn-custom-circle {
    width: 45px;
    height: 45px;
    padding: 6px 0;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-position-add{
    position: fixed; 
    bottom: 30px; 
    right: 30px;
} 

.msg-position{
    position:fixed; 
    top: 80px;
    right: 30px;
    width: 60%;
    z-index: 1;
} 